<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hey i am App Component rendering two new component</h3>
            <br>
            <ol class="list-group">
                <li class="list-group-item">Created two new components warning alert manually and success alert with
                    angular cli</li>
                <li class="list-group-item">Added template and styles inline in warning alert and seprately in via
                    template and styelurl in success alert</li>
                <li class="list-group-item">Output both of them beneath each other by passing selector of both in app
                    component html</li>

            </ol>
            <p>Use external or internal template and style as per need</p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>