<p>server-log-timestamp works!</p>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="list-group">
                <li class="list-group-item">Add a button which says display details</li>
                <li class="list-group-item">Add a paragraph with any content like for example that shows secret password
                    on ngif condition</li>
                <li class="list-group-item">Toggle the display of paragragh content in 2nd step with button on step 1st
                    by using click event</li>
                <li class="list-group-item">Staring at 5th log item give all future log item a mistyrose background via
                    ngStyle and white text color via ngClass </li>
            </ol>
            <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">SecretPassword = hare krishna</p>
            <div *ngFor="let logItem of log; let i = index"
                [ngStyle]="{backgroundColor: i >=4 ? 'mistyrose' : 'transparent' }" [ngClass]="{'color-css': i >=4}">
                {{ logItem }}</div>
            <hr>
        </div>
    </div>
</div>