<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Hey i am App Component rendering two new nested component</h3>
            <br>
            <ol class="list-group">
                <li class="list-group-item">Created two new components harry manually and potter with
                    angular cli</li>
                <li class="list-group-item">Added template and styles inline in harry and seprately via
                    template and styelurl in potter</li>
                <li class="list-group-item">Output both of them beneath each other by passing selector of potter in app
                    component html</li>
                <li class="list-group-item">Nested selewctor of harry in potter and potter in app component</li>

            </ol>
            <p>Use external or internal template and style as per need</p>
            <hr>
            <app-potter></app-potter>
        </div>
    </div>
</div>